body{
    background-image:url(https://cdn.dnaindia.com/sites/default/files/styles/full/public/2021/06/29/982460-dhini.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    font-family:cursive
  }
  li{
    list-style:none;
    
  }
  a{
    text-decoration:none;
    color:yellow;
    font-size:20px
  }
  ul{
    display:flex;
    justify-content:space-evenly
  }
  h1{
    color:cyan;
    text-align:center;
    margin-top:10%;
    font-size:50px
  }
  a:hover{
    color:blue;
    background:white;
    border-radius:8px
  }
  h2{
    color:navy;
    font-family:verdana;
    text-align:center
  }
  p{
    color:white
  }